#container {
    position: absolute;
    left: 100px;
    width: 500px;
    height: 500px;
    cursor: pointer;
    background-color: cyan;
}

#img {
    position: relative;
    margin-left: 13px;
    margin-top: 15px;
    width: 200px;
    height: 200px;
    transition: left .5s ease-in, top .5s ease-in;
}
.dance {
    margin-left: 200px;
    font-size:50px;
    font-family: impact;
    color: black;
}
