#container {
    position: relative;
    left: 100px;
    width: 500;
    height: 500;
    cursor: pointer;
    background-color: cyan;
}

#img {
    position: absolute;
    margin-left: 130px;
    margin-top: 100px;
    width: 300px;
    height: 300px;
}
.dance {
    margin-left: 200px;
    font-size:50px;
    font-family: impact;
    color: black;
}
